<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqExample.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="LinqExample.Properties.Settings.Database1ConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="LinqExample.Properties.Settings.SLA_RT_monitoringConnectionString"
            connectionString="Data Source=SHELLEE07YANIV\SQLEXPRESS;Initial Catalog=SLA_RT_monitoring;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>